@require '_variables'

.card-list-container
  margin 0 auto
  width 90%

.card-list
  li
    border-bottom 1px solid $color-grey-light
    &:last-child
      border-bottom 1px solid $color-grey
  .card
    border-bottom 0
