@require '_mixins'

.input-container
  position relative
  &.input-container-iconed,
  &.input-container-buttoned
    & > icon > .icon,
    .button
      position absolute
      top 50%
  &.input-container-iconed
    input[type=text]
      padding-left 45px
    & > icon > .icon
      left 15px
      margin-top -12px
      color $color-grey
      font-size $font-size-xl
  &.input-container-buttoned
    input[type=text]
      padding-right 55px
    .button
      right 10px
      margin-top -20px
