@require '_mixins'

.logo-container
  float left

.logo
  float left
  width 94px
  height 24px
  background-size 100%
  background-position center center
  background-repeat no-repeat
  background-image('logo-negative-full.svg')
