@require '_variables'

.menu-item-container
  &:not(.menu-item-has-link)
    padding 0 15px
  a
    padding 15px
    color $color-white
    &:hover,
    &:focus,
    &:active
      color $color-white
