@require '_variables'
@require '_mixins'

topbar
  position fixed
  top 0
  left 0
  right 0
  background-color $color-ruby
  z-index $layer-low
  & + viewport
    margin-top 58px

.topbar-container,
.topbar-content
  margin 0 auto

.topbar-container
  max-width 600px

.topbar-content
  position relative
  padding 16px 0
  width 90%
  color $color-white
  clearfix()
  h1
    position absolute
    top 0
    right 0
    left 0
    margin 0
    padding 0 35px
    color $color-white
    font-size $font-size-md
    line-height 57px
    text-align center
    overflow hidden
    text-overflow ellipsis
    white-space nowrap
    box-sizing(border-box)
  .icon
    position relative
    font-size $font-size-xl
    z-index $layer-lowest
  .menu-container
    float right
    .menu-item-container
      float right

.topbar-back-trigger
  float left
